<mat-tab-group class="my-custom-tabs bg-bone min-w-700px px-5 py-11 rounded-50px w-3/5 gap-3" 
  mat-stretch-tabs="false" 
  mat-align-tabs="center" 
  animationDuration="0ms" 
  disableRipple="">
  
  <mat-tab label="Slimes">
    <ng-template mat-tab-label>
      <img class="w-10 h-10" src="slimes/Pink_Slime.webp" alt="404" draggable="false">
      <span class="w-full my-span text-white font-semibold pr-4">Слайми</span>
    </ng-template>
    <app-slimes></app-slimes>
  </mat-tab>

  <mat-tab label="Locations">
    <ng-template mat-tab-label>
      <img class="w-10 h-10" src="locations/Map_link_sr1_marker.webp" alt="404" draggable="false">
      <span class="w-full my-span text-white font-semibold pr-4">Локації</span>
    </ng-template>
    <app-locations></app-locations>
  </mat-tab>

  <mat-tab label="Resources">
    <ng-template mat-tab-label>
      <img class="w-10 h-10" src="diets/Veggie.webp" alt="404" draggable="false">
      <span class="w-full my-span text-white font-semibold pr-4">Ресурси</span>
    </ng-template>
    <app-resources></app-resources>
  </mat-tab>

  <mat-tab label="Toys" >
    <ng-template mat-tab-label>
      <img class="w-10 h-10" src="toys/Slime_Toys.webp" alt="404" draggable="false">
      <span class="w-full my-span text-white font-semibold pr-4">Іграшки</span>
    </ng-template>
    <app-toys></app-toys>
  </mat-tab>

</mat-tab-group>
