<div class="flex flex-col items-center h-full justify-start rounded-3xl border-dashed border-2 border-slate-600 p-3 gap-3">
    <div class="w-full bg-persian-orange h-8 rounded-lg items-center flex text-center">
      <span class="text-white w-full font-semibold">{{header}}</span>
    </div>
    @if (imgUrl) {
      <div class="h-3/4 flex items-center">
        <button [routerLink]="link" class="rounded-3xl p-1" fragment="{{fragment}}" [matTooltip]="name">
          <img [src]="imgUrl" alt="">
        </button>
      </div>
    }
    @else {
      <div class="h-3/4 flex items-center">
        <span class="font-semibold text-lg text-slate-700">Немає</span>
      </div>
    }
</div>