<div class="flex h-screen justify-center items-center">
    <div class="h-full bg-aero-blue-t-90 w-11/12 max-w-7xl min-w-750px flex justify-center items-center flex-col">
        <div class="inline-flex h-10 rounded-md items-center translate-y-5 px-8 -skew-x-12 bg-persian-orange">
            <span class="skew-x-12 text-white text-xl font-semibold">НАВІГІЦІЯ</span>
        </div>
        <mat-tab-group class="my-custom-tabs bg-bone min-w-700px px-5 py-11 rounded-50px w-3/5 gap-3" mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms" disableRipple="">
            <mat-tab label="Tab 1" [class.mdc-tab--active]="isActive(0)" (click)="setActiveTab(0)">
               
                <ng-template mat-tab-label>
                    <img class="w-10 h-10" src="slimes/Pink_Slime.webp" alt="404" draggable="false">
                    <span class="w-full my-span text-white font-semibold pr-4">
                        Слайми
                    </span> 
                </ng-template>

                <mat-tab-group class="my-custom-tabs-content p-3" animationDuration="0ms" disableRipple="">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-12 h-12" src="slimes/Pink_Slime.webp" alt="404" draggable="false">
                            <span class="w-full text-slate-800 font-medium">
                                Слайми
                            </span> 
                        </ng-template>

                        @for (item of slimes; track item.id) {
                            <button [routerLink]="['slime', item.id]" class="my-custom-tabs-content-item bg-fawn">
                                <img class="w-16 h-16" src={{item.imgUrl}} alt="404" draggable="false">
                                <span class="w-full p-1/10 h-8 text-slate-800 font-medium leading-4 text-sm flex items-center justify-center">
                                    {{item.name}}
                                </span> 
                            </button>
                        }

                    </mat-tab>
                </mat-tab-group>

            </mat-tab>

            <mat-tab label="Tab 2" [class.mdc-tab--active]="isActive(1)" (click)="setActiveTab(1)">

                <ng-template mat-tab-label>
                    <img class="w-10 h-10" src="locations/Map_link_sr1_marker.webp" alt="404" draggable="false">
                    <span class="w-full my-span text-white font-semibold pr-4">
                        Локації
                    </span> 
                </ng-template>

                <mat-tab-group class="my-custom-tabs-content p-3" animationDuration="0ms" disableRipple="">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-12 h-12" src="locations/Far_Far_Range.webp" alt="404" draggable="false">
                            <span class="w-full text-slate-800 font-medium">
                                Світ
                            </span> 
                        </ng-template>

                        @for (item of locations; track item.id) {
                            <button [routerLink]="['location', item.id]" class="my-custom-tabs-content-item bg-fawn">
                                <img class="w-16 h-16" src={{item.imgUrl}} alt="404" draggable="false">
                                <span class="w-full p-1/10 h-8 text-slate-800 font-medium leading-4 text-sm flex items-center justify-center">
                                    {{item.name}}
                                </span> 
                            </button>
                        }                        

                    </mat-tab>
                </mat-tab-group>
            </mat-tab>

            <mat-tab label="Tab 3" [class.mdc-tab--active]="isActive(3)" (click)="setActiveTab(1)">

                <ng-template mat-tab-label>
                    <img class="w-10 h-10" src="veggie/Veggie.webp" alt="404" draggable="false">
                    <span class="w-full my-span text-white font-semibold pr-4">
                        Ресурси
                    </span> 
                </ng-template>

                <mat-tab-group class="my-custom-tabs-content p-3" animationDuration="0ms" disableRipple="">
                    <mat-tab label="Tab 1-2" [class.mdc-tab--active]="isActive(0)" (click)="setActiveTab(0)">
                        <ng-template mat-tab-label>
                            <img class="w-12 h-12" src="fruits/Fruit.webp" alt="404">
                            <span class="w-full text-slate-900 font-medium">
                                Фрукти
                            </span> 
                        </ng-template>

                        @for (item of fruits; track item.id) {
                            <button [routerLink]="['fruit', item.id]" class="my-custom-tabs-content-item bg-fawn">
                                <img class="w-16 h-16" src={{item.imgUrl}} alt="404" draggable="false">
                                <span class="w-full p-1/10 h-8 text-slate-800 font-medium leading-4 text-sm flex items-center justify-center">
                                    {{item.name}}
                                </span> 
                            </button>
                        }

                    </mat-tab>


                    <mat-tab label="Tab 1-2" [class.mdc-tab--active]="isActive(0)" (click)="setActiveTab(0)">
                        <ng-template mat-tab-label>
                            <img class="w-12 h-12" src="veggie/Veggie.webp" alt="404">
                            <span class="w-full text-slate-900 font-medium">
                                Овочі
                            </span> 
                        </ng-template>

                        @for (item of veggie; track item.id) {
                            <button [routerLink]="['veggie', item.id]" class="my-custom-tabs-content-item bg-fawn">
                                <img class="w-16 h-16" src={{item.imgUrl}} alt="404" draggable="false">
                                <span class="w-full p-1/10 h-8 text-slate-800 font-medium leading-4 text-sm flex items-center justify-center">
                                    {{item.name}}
                                </span> 
                            </button>
                        }
                    
                    </mat-tab>

                    <mat-tab label="Tab 1-2" [class.mdc-tab--active]="isActive(0)" (click)="setActiveTab(0)">
                        <ng-template mat-tab-label>
                            <img class="w-12 h-12" src="meats/Meat.webp" alt="404">
                            <span class="w-full text-slate-900 font-medium">
                                М'ясо
                            </span> 
                        </ng-template>

                        @for (item of meat; track item.id) {
                            <button [routerLink]="['meat', item.id]" class="my-custom-tabs-content-item bg-fawn">
                                <img class="w-16 h-16" src={{item.imgUrl}} alt="404" draggable="false">
                                <span class="w-full p-1/10 h-8 text-slate-800 font-medium leading-4 text-sm flex items-center justify-center">
                                    {{item.name}}
                                </span> 
                            </button>
                        }
                        
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

