<div class="col-span-4 flex flex-col rounded-3xl border-dashed border-2 border-slate-600 p-3 gap-3">
    <div class="bg-persian-orange h-8 rounded-lg items-center flex text-center">
      <span class="text-white w-full font-semibold">{{header}}</span>
    </div>
    <div class="flex flex-row flex-wrap justify-center items-start gap-1">
      <img *ngFor="let item of array" 
      [routerLink]="[path, item.id]" matTooltip="{{item.name}}"
      width="50" height="50" src="{{item.imgUrl}}" alt="">
    </div>
  </div>